{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    ["emotion", { "inline": true }],
    ["import",
      {
        "libraryName": "antd",
        "style": false
      }
    ],
    ["import", 
      { "libraryName": "ant-design-pro", 
        "style": false 
      }, "ant-design-pro"
    ]
  ]
}